{{define "title"}}Создать новый проект/заявку{{end}}

{{define "main"}}
<form action='/pipe/create' method='POST'>
    <div>
        <label>Компания:</label>
        <input type='text' name='company'>
    </div>
    <div>
        <label>Комментарии:</label>
        <textarea name='comments'></textarea>
    </div>
    <div>
        <label>Delete in:</label>
        <input type='radio' name='expires' value='365' checked> One Year
        <input type='radio' name='expires' value='7'> One Week
        <input type='radio' name='expires' value='1'> One Day
    </div>
    <div>
        <input type='submit' value='Создать проект'>
    </div>
</form>
{{end}}