{{define "title"}}Редактирование проекта/заявки{{end}}

{{define "main"}}
<!-- {{with .Project}} -->
<h2>Редактирование заявки #</h2>
<form action='/pipe/update' method='POST'>
  
    <div>
      <label><strong>Компания:</strong></label>
        {{with .Form.FieldErrors.company}}
          <label class='error'>{{.}}</label>
        {{end}}
      <input type='text' name='company' value="{{.Form.Company}}">
    </div>


    <div>
        <input type='submit' value='Обновить проект'>
        <a href='/' class="btn-cancel">Отмена</a>
    </div>
</form>
<!-- {{end}} -->
{{end}}