{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Кредитные заявки ДКФ</h2>
    {{if .Projects}}
    <table>
        <tr>
            <th>Компания</th>
            <th>Филиал</th>
            <th>Сумма (тыс.тенге)</th>
            <th>Статус</th>
        </tr>
        {{range .Projects}}
        <tr>
            <td><a href="/pipe/view/{{.ID}}">{{.Company}}</td>
            <td>{{GetBranchName .BranchID}}</td>
            <td>{{FormatNumberView .Amount}}</td>
            <td>{{GetStatusName .StatusID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>пока тут ничего нету!</p>
    {{end}}

{{end}}