{{define "title"}}Project #{{.ID}}{{end}}

{{define "main"}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Company}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><strong>Филиал: </strong><code>{{.BranchID}}</code></pre>
        <pre><strong>Исполнитель: </strong><code>{{.ExecutorID}}</code></pre>
        <pre><strong>Цели кредитования: </strong><code>{{range .LoanPurposesIDs}}{{.}}, {{end}}</code></pre>
        <!-- <pre><strong>Кредитные программы: </strong><code>{{range .CreditProgramsIDs}}{{.}}, {{end}}</code></pre> -->
        <!-- <pre><strong>Сумма: </strong><code>{{.Amount}}</code></pre> -->
        <!-- <pre><strong>Статус: </strong><code>{{.StatusID}}</code></pre> -->
        <!-- <pre><strong>Комментарии: </strong><code>{{.Comments}}</code></pre> -->

        <div class='metadata'>
            <time>Created: {{.Created}}</time>
            <time>Expires: {{.LastUpdate}}</time>
        </div>
    </div>
{{end}}