{{define "title"}}Project #{{.ID}}{{end}}

{{define "main"}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Company}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><strong>Филиал: </strong><code>{{.BranchID }}</code></pre>
        <pre><strong>Исполнитель: </strong><code>{{.ExecutorID}}</code></pre>

        <div class='metadata'>
            <time>создан: {{.Created}}</time>
            <time>обновлен: {{.LastUpdate}}</time>
        </div>
    </div>
{{end}}